# Database Configuration
DB_NAME=driving_school
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

# Django Secret Key (generate new for production)
SECRET_KEY=django-insecure-_vdwfb!0^_f-y4n0fw8fxn=i%#kof!ljk)@1!aeuy=^2i%ti2y

# Debug Mode (False in production)
DEBUG=True

# Allowed Hosts (comma separated)
ALLOWED_HOSTS=localhost,127.0.0.1
